script src="assets/search"

div ng-app="SearchApp"
  input{
    type="search"
    autofocus
    ng-controller="QueryCtrl"
    placeholder="Collocation"
    ng-model="collocation"
    ng-change="find(collocation)"
  }

  .list ng-controller="ResultsCtrl"
    .panel ng-repeat="sentence in model.sentences"
      p \{{$index}}. {{sentence}}
