script src="assets/settings"

.form ng-app="SettingsApp" ng-controller="Ctrl"
  input{
    type="text"
    placeholder="Source"
    ng-model="settings.source"
  }

  input{
    type="text"
    placeholder="Author"
    ng-model="settings.author"
  }

  input{
    type="text"
    placeholder="Store port"
    ng-model="settings.store"
  }

  input{
    type="text"
    placeholder="Ssearch port"
    ng-model="settings.ssearch"
  }
